html {
    background-color: pink;
    background-image: url("BINI..jpg");
    background-size: cover;
}
html::before{
    content: "";
    position: fixed;
    top: 0 ;
    left: 0;
    width: 100%;   
    height: 100%;
    background-color: rgba(0, 0 ,0 , 0.5);
    z-index: -1;
}
body {
    text-align: center;
    position: relative;
    top: 150px
    
}
#Cat {
    height: 200px;
    width: auto;
    background-color: antiquewhite;
    margin: 0;
    padding-top: 15px;
    border-radius: 20px;
    border: 1px solid black;
}
.introMessage {
    font-size: 20px;
    color: white;
    font-style: normal;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;

    transition: color 0.7s ease;
} 
.choices {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 45px;  
} button {
    width: 80px;
    height: 40px;
    font-weight: bold;   
    font-size: small;
    color: black;
    background-color:white;
    transition: 0.5s ease;
} button:hover {
    background-color: pink;
    color: rgb(0, 0, 0);
    cursor: pointer;

}

